body{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer"
  ;
  
}


header{
  grid-area: header;
  text-align: center;
  height: auto;
  padding: 2vh;
}

nav{
  grid-area: nav;
  border-style: solid;
  border-width: 1px;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  /* Ändrar link färg till #111 för när "hovering" sker */
  li a:hover {
    background-color: #111;
  }

  li:last-child{
    float: right;
    border-right: none;
    border-left: 1px solid#bbb;
  }
   
main{
  display: grid;
  grid-template-areas: 
  ". art ."
  ;
  grid-area: main;
  height: auto;
}

article{
  grid-area: art;
  border-style: 1px solid;
  padding: 1em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#bajs{
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: #333;
  color: #fff;
  height: auto;
  padding: 2vh;
}

