/* Gör så body täcker hela sidan */
body{
  margin: 0;
}

/*Layout for header, navbar, main och footer*/
.wrapper{
    display: grid;
    height: auto;
    padding: 0;
    margin: 0;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr;
}

/*layout for main i nyheter.html och extra.html*/
#extragrid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/*Layout för main i historia.html*/
#historiagrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/*Nyhetsbild med id*/
#nyhetsbild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 50%;
    max-width: 100%;
    height: auto;
}

.lokalmeny ul{
    color: #222;
}

.lokalmeny li a{
    color: #222;
    list-style-type: none;
    margin: 0;
    padding: 1px;
}

.lokalmeny a:hover{
    text-decoration: underline;
}

/*placera header*/
header{
    grid-area: header;
}

/*Sätter h1 text i mitten*/
h1{
    text-align:center;
}

/*Placera navbar och sätter bakgrundfärg*/
nav{
    grid-area: navbar;
    background: #222;
}

/*Placera footer och design för den*/
footer{
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: #222;
}

/*Sätter nav med ul som flex och gör så alla länkar är lika långt avstånd från varandra horizontelt*/
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 1px;
}

/*Design för länkar*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

/*Ändra färg på länkarna på man hovera över*/
li a:hover{  
    background-color: white;
    color: black;
}

/*Gör så att rubrikerna inte börja längst ut åt vänster så det blir lättare att läsa*/
h2, h3{
margin-left: 2%;
}

/*Texter börjar från vänster och gör så dom inte gå längst ut så det blir lättare att läsa*/
p{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

/*id för start bild på första sidan med design*/
#startbild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 55%;
    max-width: 100%;
    height: auto;
}

/*id för info bild med design*/
#infobild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 100%;
    height: auto;
}

/*id för rubrik placering*/
#formulärrubrik{
    text-align: center;
}

/*id för rubrik placering*/
#videorubrik{
    text-align: center;
}

/*lägger till padding*/
section, aside {
    padding: 20px;
}

/*för min figure*/
figure{
    margin: 0;
}

/*Placerar formuläret i mitten*/
form { 
    margin: 0 auto;
    margin-bottom: 2%;
    width: 250px;   
}

/*Design för bilder "overall"*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 85%;
    max-width: 100%;
    height: auto;
}

/*Placera videon i mitten och sätter storlek*/
iframe{
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    width: 560px;
    height: 315px;
}

/*Design för tabeller*/
table, th, td {
    border:1px solid black;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 600px;
    border-collapse: collapse;
  }

/*varannan rad får färgen #222*/
tr:nth-child(even) {
    background-color: #222;
    color: white;
}

/*Responsiv design för navbaren*/
@media (max-width: 600px) {
    nav ul{
        flex-direction: column;
    }
}

/*Responsiv design för min historiagridslayout*/
@media (max-width: 1230px) {
    #historiagrid {
        grid-template-columns: 1fr;
    }
}

/*Responsiv design för extralayout*/
@media (max-width: 1230px) {
    #extragrid {
        grid-template-columns: 1fr;
    }
}